.container-index {
  margin: 40px;
}
.content-index {
  display: flex;
  margin-top: 45px;
}

#form {
  height: 100%;
  padding-right: 60px;
  margin-right: 10px;
  border-right: 1px solid #e1e1e1;
}

#inline-form {
  display: block;
}

.text_link {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

