<!-- Affichage titre + explication -->
<div>
  <h1>La collection</h1>
  <p>Retrouvez toutes nos chaussures dans notre magasin à Marseille</p>
</div>

<div class="cards-article container">
  <% @articles.each do |article| %>
    <div class="card-article">
      <div class="card-article-photo" style="background-image: url('<%= cl_image_path article.photo %>')">
      </div>
      <div class="card-article-infos">
        <div class="card-article-name-price d-flex">
          <h5><%= article.name %></h5>
          <h5><%= article.price %>€</h5>
        </div>
        <p><%= article.brand.name %></p>
      </div>
    </div>
  <% end %>
</div>

