<div class="footer">
  <div class="footer-adress">
    <h5>Le Rez-de-Chaussée</h5>
    <p>486 rue paradis, 13008 Marseille | 04 91 77 02 17</p>

  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/lerezdechaussee.marseille/" target= "_blank"><i class="fab fa-instagram-square footer-link"></i></a>
    <a href="https://www.facebook.com/LEREZDECHAUSSEE.MARSEILLE/"  target= "_blank"><i  class="fab fa-facebook-square footer-link"></i></a>
  </div>
</div>
