.navbar {
  justify-content: space-between;
  background: white;
  height : 55px;
  border-bottom : 1px solid #e1e1e1;
  color : black;
  margin-top : 10px;
  width : 100%;
}

.list {
  list-style-type : none;
  text-align : right;
  padding-left : 20p;
  padding-right : 20px;
  width : 100%;
}
