/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards-article {
    grid-template-columns: 1fr;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards-article {
    grid-template-columns: 1fr 1fr;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards-article {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
